.button {
	background-color: rgb(0, 59, 54);
	width: auto;
	padding : 15px 20px;
	border-radius : 4px;
	color : white;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	margin: 10px 10px;
	text-align: center;
}

.button:hover {
	background-color: rgb(114, 90, 193);
}
